// Find your userId and accessToken here:
// http://www.pinceladasdaweb.com.br/instagram/access-token/
//
define(function(require, exports, module) {
  var InstagramApiAuth = {
    userId: 'your user id here',
    accessToken: 'your access token here',
  }

  module.exports = InstagramApiAuth;
})
